/*$blue:  #056ef0;*/
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  background-color: #efefef !important;
}

Table {
  background-color: white;
}

.table {
  table-layout: fixed;
  word-wrap: break-word;
}

.table td {
  overflow: hidden;
}

.form-inline > * {
   margin:5px;
}
